.primary, .secondary, .simple {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: .75rem;
  font-weight: 600;
  box-shadow: 0 .25rem .5rem #0000;
  transition: all .15s;
  border-radius: .25rem;
}

.primary {
  background-color: #5af;
  color: #fff;
}


.secondary {
  --color:#1e1e20; 
  background-color: #fff;
  border: 1px solid var(--color);
  color: var(--color);

}
.simple {
  text-decoration: underline;
}

/* Hovers */

.primary:hover {
  box-shadow: 0 .25rem .5rem #0002;
  transform: translate(0, -5px);
}

.secondary:hover {
  box-shadow: 0 .25rem .5rem #0002;
  transform: translate(0, -5px);
}

.simple:hover {
  box-shadow: 0 .25rem .5rem #0002;
}
